<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>callme</title>
	<link rel= "stylesheet" th:href ="@{/css/header.css}">
	<link rel= "stylesheet" th:href ="@{/css/common.css}">
</head>
<body>
	<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>

<!--■ ヘッダー部分 -->
	<span th:include="/common/fragment-part::frag_header_login"></span>

<!--■ メイン部分 -->	
	<div class="main">
		<div class="form">
			<div class="container">
				<div class="form-title">タスク編集</div>
				<form th:action="@{/task-edit/task-edit}" th:method="post" th:object="${taskForm}">
				
					<input type="hidden" name="id" th:field="*{id}">
					<input type="hidden" name="userId" th:field="*{userId}">
					<input type="hidden" name="groupId" th:field="*{groupId}">
					
					<p>タスク名：</p>
					<div th:errors="*{name}" style="color:red"></div>
					<input type="text" name="name" th:field="*{name}">
					
					<p>内容：</p>
					<textarea rows="15" cols="50" th:field="*{content}"></textarea>
						
					<div class="button">
						<button class="login-button push-button" type="submit">更新</button>
					</div>
				</form>
			</div>
		</div>	
	</div>


	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/header.js}"></script>
</body>
</html>

