<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--■ ①必要に応じてコンポーネントのメモリを増強し、処理能力をあげる -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

	<title>callme</title>
</head>
<body>
	<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>

<!--■ ヘッダー部分 -->
	<span th:include="/common/fragment-part::frag_header_login"></span>

<!--■ メイン部分 -->
	<div class="main">
			<div class="container text-center">
			
				<h3 class="my-5" th:text="${group.name}">グループ1</h3>

				<form th:action="@{/invite_register/invite_register}" method="post">
					<input type="hidden" id="userId" th:value="${userId}">					
					<input type="hidden" id="groupId" name="groupId" th:value="${group.id}" class="mb-4">
<!--■ ①ユーザー検索 -->
					<p>ユーザー検索：</p>
					<input class="mb-4" type="text" id="searchUser">
<!--■ ①検索結果 -->
			  		<div id="addSearchUser">
				  		<!--■ 検索結果の表示 -->
				  	</div>
				  	
				  	
<!--■ ②招待確定 -->
						<button class="btn my-4" type="submit" style="background-color: #D9E3FF;">招待を確定する</button>
<!--■ ②招待候補 -->
					<p class="invite-list">招待するユーザー：</p>
						<!--■ 招待候補の表示 -->
				</form>
			</div>
	</div>

	<script th:src="@{/js/invite_register.js}"></script>	

	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>

