<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>callme</title>
	<link rel= "stylesheet" th:href ="@{/css/header.css}">
	<link rel= "stylesheet" th:href ="@{/css/group_register.css}">
	<link rel= "stylesheet" th:href ="@{/css/common.css}">
</head>
<body>
	<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>

<!--■ ヘッダー部分 -->
	<span th:include="/common/fragment-part::frag_header_login"></span>

<!--■ メイン部分 -->	
	<div class="main">
		<div class="form">
			<div class="container">
				<div class="form-title">グループ編集</div>
				<form th:action="@{/group-edit/group-edit}" method="post" th:object="${groupForm}">

					<input type="hidden" name="id" th:field="*{id}">
					<input type="hidden" name="ownerId" th:field="*{ownerId}">
				
					<p>グループ名</p>
					<input type="text" name="name" th:field="*{name}">
						
					<div class="button">
						<button class="login-button push-button" type="submit">更新</button>						
						<a class="back-button push-button" th:href="@{/group-edit/to-group-edit}">戻る</a>
					</div>
				</form>
			</div>
		</div>	
	</div>


	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/header.js}"></script>
</body>
</html>

