<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--■ ①必要に応じてコンポーネントのメモリを増強し、処理能力をあげる -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
		
	<title>callme</title>

</head>
<body>
	<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>

<!--■ ヘッダー部分 -->
	<span th:include="/common/fragment-part::frag_header_login"></span>

<!--■ メイン部分 -->	
	<div class="main">
			<div class="container text-center">
				
					<div class="row my-5 justify-content-center">
						<h3 th:text="${group.name}">グループa1</h3>
						
						<a class="btn" th:href="@{/group-edit/to-group-edit(id=${group.id})}">
							<span title="グループの編集" data-placement="bottom">
								<i class="fas fa-edit"></i>
							</span>
						</a>					
					</div>
					
					<div class="mb-4">
						<a class="btn mr-2" th:href="@{/task-register/to-task-register(groupId=${group.id})}" style="background-color: #D9E3FF;">タスクの登録</a>										
						<a class="btn mr-2" th:href="@{/user-group-join-list/to-user-group-list(groupId=${group.id})}" style="background-color: #D9E3FF;">参加ユーザー</a>					
						<a class="btn" th:href="@{/invite_register/to_invite_register(groupId=${group.id})}" style="background-color: #D9E3FF;">グループに招待する</a>
					</div>
					

<div class="row">
<div class="mx-auto">		
									
			<table class="table table-hover" style="width: 30rem;">
				<tbody>
					<tr class="row" th:each="task:${group.taskList}">
					
						<td class="col-10" style="position: relative;">
							<a class="stretched-link text-decoration-none" th:href="@{/task-detail/to-task-detail(id=${task.id})}">
								<span th:text="${task.name}" style="color:black;">タスク1</span>
							</a>
						</td>

						<td class="col-2 float-right">
								<a title="編集" class="mr-3" th:href="@{ /task-edit/to-task-edit (id=${task.id})}">
									<i class="fas fa-pen"></i>
								</a>							
								<a title="削除" th:href="@{/task-delete/task-delete ( groupId=${task.groupId}, taskId=${task.id} ) }">
									<i class="fas fa-trash-alt"></i>
								</a>														
						</td>
					
					</tr>
				</tbody>
			</table>
					
</div>
</div>
					
			</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>


</body>
</html>

